@media(min-width: 700px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

    main{
        grid-template-columns: auto auto auto;
    }

    img{
        width: 100%;
    }
    main h2{
        grid-column: 1/4;
    }
    body{
        position: relative;
        left: 20%;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(109, 103, 103);
        border: 1px solid black;
        list-style: none;
        flex-direction: row;
    }
    #menu{
        display: none;
    }
}