body{
    font-family: "Roboto", sans-serif;
}

header, main , footer{
    margin: 1rem auto;
    max-width: 640px;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(142, 187, 226);
    color: black;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section{
    background-color: wheat;
    padding: 1rem;
}